<div class="container">
    <center>
        <h1 class="featurette-heading my-5">Menu</h1>
        <p class="lead">
            Coming soon...
        </p>
        <img class="featurette-image img-fluid mx-auto rounded" width="500" src="./images/oven-fire-pizza.jpg" />
    </center>
</div>