<div class="container">
    <center>
        <h2 class="featurette-heading my-5">Menu</h2>
        <a href="/menu.pdf" target="_blank" class="btn btn-warning btn-lg shake">Download Menu</a>
        </br>
        <embed src="menu.pdf" type="application/pdf" width="100%" height="600px" />
        <img class="featurette-image img-fluid mx-auto rounded" width="500" src="./images/oven-fire-pizza.jpg" />
    </center>
</div>