<div class="jumbotron jumbotron-fluid jumbotron-beans-menu">
  <div class="container text-center">
    <h1
      class="display-2 text-center"
      style="color: white; text-shadow: 2px 2px black;"
    >MENU</h1>
  </div>
</div>

<div class="container menu">
  <div class="row">
    <h2 class="display-3 text-center">ANTIPASTI</h2>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-5">CAPRESE DI BURRATA</h3>
      Soft mozzarella cheese, roasted grape tomatoes, and pesto sauce.
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-5">PROSCIUTTO CRUDO</h3>
      Sliced prosciutto crudo from Parma, mozzarella di bufala, and extra virgin
      olive oil.
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">CALAMARI FRITTI</h3>
      Fried baby squid, calabrese peppers, and marinara sauce.
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">SALSICCIA DELLA CASA</h3>
      Homemade sausage stuffed with sun-dried tomato, fennel seeds, and
      caciocavallo cheese on a bed of vegetables.
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">POLPETTE</h3>
      Homemade meatballs, marinara sauce, mozzarella cheese, and served with
      garlic focaccia.
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">AFFETTATI MISTI</h3>
      Create your appetizer, choose 4 types of imported Italian meats- 3 kinds
      of cheeses and we’ll ﬁnish up with our marinated vegetables.
    </div>
  </div>

  <div class="row text-center">
    <h2 class="display-3 text-center">INSALATE</h2>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">LUCCA’S</h3>
      Tomato, avocado, fresh mozzarella, red onions, extra virgin olive oil,
      balsamic reduction
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">CAPPUCCINA</h3>
      Butter lettuce, cherry tomatoes, toasted almonds, crispy pancetta, crumble
      gorgonzola cheese dressing.
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">CLASSICO</h3>
      Classic Caesar salad.
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">SPINACI</h3>
      Spinach, arugula, roasted walnuts, mix fresh berries, shaved Sicilian
      pecorino primo sale cheese.
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Insalata Della Casa</h3>
      Mixed greens, roasted walnuts, poached pear, gorgonzola cheese, balsamic
      reduction dressing
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6"></h3>
    </div>
  </div>
  <div class="row">
    <p class="text-center highlight">Add Grilled chicken, salmon, jumbo shrimp</p>
  </div>
  <div class="row text-center">
    <h2 class="display-3 text-center">FRESH MADE PASTA</h2>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">SPAGHETTI</h3>
      Traditional meat sauce
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Fettuccine Alfredo</h3>
      Fettuccine Pasta, sautéed with garlic butter, cream sauce, parmesan cheese
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Tortalini Gorgonzolla</h3>
      Cheese tortellini, sautéed with mushroom, pine nuts, cream sauce,
      gorgonzola cheese
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Lasagna</h3>
      Four-layer pasta, 3 types of cheeses, topped off with our famous meat
      sauce
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Ravioli</h3>
      Cheese ravioli, sautéed with types of mushrooms, cream sauce, drench of
      truffle oil
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Spaghetti carbonara</h3>
      Spaghetti with onions, guanciale, eggs and pecorino Romano cheese
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">CASARECCE</h3>
      Homemade Sausage, Bell Peppers, Onions, Marinara Sauce and Extra Virgin
      Olive Oil
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">LINGUINE</h3>
      Linguine with pesto sauce, topped with sun-dried tomatoes and pine nuts
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">PAPPARDELLE</h3>
      With shredded braised short rib topped with shaved parmesan cheese
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Chicken Parmigiana</h3>
      Breaded chicken breast, baked with marinara sauce, mozzarella, parmesan
      cheese, side of linguini marinara
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Eggplant Parmigiana</h3>
      Sauteed eggplant, mixed with marinara sauce, mozzarella, parmesan cheese
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6"></h3>

    </div>
  </div>
  <div class="row">
    <p class="text-center highlight">Add Grilled chicken, salmon, jumbo shrimp</p>
  </div>
  <div class="row">
    <h2 class="display-3 text-center">Pizza</h2>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Margarita</h3>
      Tomato Sauce, Mozzarella Di Bufofala, Basil
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Amanté Della Carne</h3>
      Tomato Sauce, Mozzarella, Sausage, Pepperoni, Meatballs
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Healthy, Healthy, Healthy</h3>
      Tomato Sauce, Grilled Vegetables (Eggplant, Green Zucchini, Yellow Squash,
      Mushroom, Bell Peppers &amp; Onion)
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">The Boarder</h3>
      Tomato Sauce, Mozzarella, grilled chicken, red onions, jalapenos, fresh
      avocado
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">The Promenade</h3>
      Mozzarella. Diced Tomato, Garlic, Basil
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">San Diego Bound</h3>
      Mozzarella, spinach, ricotta cheese, parmesan cheese
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">The Rio</h3>
      Tomato Sauce, Mozzarella, pepperoni, Sopressata, Sausage
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Lucca’s Special</h3>
      Tomato Sauce, Mozzarella, pepperoni, mushrooms, Camata olives, Italian
      sausage, topped with fresh arugula
    </div>
  </div>

  <div class="row">
    <p class="highlight text-center">Cauliflower and gluten-free crust available
      at additional $2.50</p>
  </div>
  <div class="row">
    <h2 class="display-4 text-center">CALZONES &amp; SANDWICHES</h2>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Ham &amp; Cheese Calzone</h3>
      Tomato sauce, ham, Mozzarella, ricotta
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">SPINACI Calzone</h3>
      Mozzarella, ricotta, brushed with garlic olive oil
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Meatball Calzone</h3>
      Homemade meatballs, tomato sauce, mozzarella, ricotta, brushed with garlic
      olive oil
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Meatball sandwich</h3>
      Homemade meatballs, marinera sauce, mozzarella served on homemade bread
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Italian Sausage Sandwich</h3>
      Mild Italian sausage link, grilled onions, skinless bell peppers
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Italian Sandwich</h3>
      Mortadella, capicola, salami, muffuletta, provolone cheese
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Cheese Steak</h3>
      Ribeye steak or Chicken, sautéed onions, choice of whiz/provolone/American
      cheese on amoroso roll
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Cheese Steak Trio</h3>
      Ribeye steak or Chicken, grilled mushrooms, peppers, sauteed onions,
      choice of whiz/provolone/American cheese on amoroso roll
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Eddie’s Favorite</h3>
      Ribeye steak or chicken, extra sauteed onions, whiz &amp; American cheese
      on amoroso roll
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Just For Kids</h3>
      Cheese Pizza / Pepperoni Pizza / Penne butter / spaghetti marinera
      (meatball) / kids steak sandwich
    </div>
  </div>

  <div class="row">
    <h2 class="display-3 text-center">Desserts</h2>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Cannoli</h3>
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Tiramisu</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Spumoni</h3>
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="display-6">Gelato</h3>
      variety of flavors
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <img class="img-fluid" src="../images/qr.png" />
    </div>
  </div>

  {{! <center>
        <h2 class="featurette-heading my-5">Menu</h2>
        <a href="/menu.pdf" target="_blank" class="btn btn-warning btn-lg shake">Download Menu</a>
        </br>
        <embed src="menu.pdf" type="application/pdf" width="100%" height="600px" />
        <img class="featurette-image img-fluid mx-auto rounded" width="500" src="./images/oven-fire-pizza.jpg" />
    </center> }}
</div>