<div class="container">

    <h1 class="featurette-heading my-5">📦 {{title}}</h1>

    <p>
        At {{company}} our goal is to offer you the best shipping options, no matter where you live. Every day, we
        deliver to hundreds of customers across the world, ensuring that we provide the very highest levels of
        responsiveness to you at all times.
    </p>

    <p>We have one fulfillment centers in the United States. After your order is
        complete, it takes us 1-2 business days to process your order and get it ready for the shipping.
    </p>
    <h2>Tracking</h2>
    <p>Once the order is shipped, please allow 1-2 days for the tracking number to be fully updated on the post
        office system. Please note that your <b>order is actually on the way</b> and there is no delay of the
        package rather than the tracking number status. After that period, you can track your order via the tracking
        number.</p>

    <h2>Wrong address</h2>
    <p>It is the responsibility of the buyer to make sure that the shipping address entered is correct. We do our
        best
        to speed up processing and shipping time, so there is always a small window to correct an incorrect shipping
        address. Please contact us immediately if you believe you have provided a wrong shipping address.</p>
    <h2>Lost or stolen&nbsp;package</h2>
    <p>We are not responsible for lost or stolen packages. If your tracking information states that your package was
        delivered to your address and you have not received it, please report it to your respective shipping
        carrier. If
        you have any further questions on how to do this, please reach out to our customer support team.</p>

</div>